<div class="container">
    <section class="text-center">
        <a href="/about.html" class="text-white" >About Us</a>
        <a href="/contact.html" class="text-white m-lg-3" >Contact Us</a>
        <a href="/term.html" class="text-white m-lg-3" >Terms and conditions</a>
        <a href="/privacy.html" class="text-white m-lg-3" >Privacy policy</a>
    </section>
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Copyright:
      <a class="text-reset fw-bold" href="https://subway-surfersgame.github.io/">subway-surfersgame.github.io</a>
    </div>
    <!-- Copyright -->
</div>